<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>공연 목록</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

<!-- 네비게이션 바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>공연 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='performance_form.html'"
                    th:onclick="|location.href='@{/performances/add}'|"
                    type="button">공연 등록
            </button>
        </div>
    </div>

    <hr class="my-4">

    <div>
        <p th:if="${#lists.isEmpty(performances)}">등록된 공연이 없습니다.</p>
        <table class="table" th:if="${not #lists.isEmpty(performances)}">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>설명</th>
                <th>장소</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performance: ${performances}">
                <td><a th:href="@{|/performances/${performance.id}|}" th:text="${performance.id}">ID</a></td>
                <td><a th:href="@{|/performances/${performance.id}|}" th:text="${performance.title}">제목</a></td>
                <td th:text="${performance.description}">설명</td>
                <td th:text="${performance.location}">장소</td>
                <td th:text="${performance.startDate}">시작일</td>
                <td th:text="${performance.endDate}">종료일</td>
                <td th:text="${performance.price}">가격</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
